/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  body  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
body {
  margin: 0;
  padding: 0;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design main container @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.main-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  /* nedan gör så calender hamnar i mitten */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design för Kalender "rutan" @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.calender {
  background-color: #c7c5c5;
  height: 500px;
  width: 500px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  calender head, håller år (månad?) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#calender-head div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* vet inte om vi ska kunna bläddra bland åren här eler hur vi tänker bara lagt dem her tillfälligt */
.nav-arrow {
  text-decoration: none;
}
